.todo {
  color: black;
  background-color: white;
  border-radius: 3px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.selected {
  background-color: lightblue;
}

.clickHandleWrapper {
  margin: 0 auto;
  width: 60%;
}

.todo-description {
  /* set font for both title and project */
  font-family: "Ubuntu", sans-serif;
  padding: 5px 0;
}

.leftPortion {
  display: flex;
  align-items: center;
}

.todo-title {
  /* set font size just for title */
  font-size: 12px;
  font-weight: 300;
}

.todo-project {
  /* set font size for project */
  font-size: 12px;
  font-weight: 300;
  color: darkgrey;
}
